<h1>Edit <%= @animal.name %></h1>

<%= form_with model: @animal do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :species %>
  <%= f.text_field :species %>
  <br />
  <%= f.label :age %>
  <%= f.text_field :age %>
  <br />
  <%= f.submit %>
<% end %>
